<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Navigation</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'about_page' %}">About</a></li>
            <li><a href="{% url 'contactz_page' %}">Contact</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}

</body>
</html>
